name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test Binary
        run: cargo run --example test
      - name: Test Shared object
        run: cd dll_test_crate && cargo build && cargo run --example test
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test Binary
        run: cargo run --example test
      - name: Test Shared object
        run: cd dll_test_crate && cargo build && cargo run --example test
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test Binary
        run: cargo run --example test
      - name: Test Shared object
        run: cd dll_test_crate && cargo build && cargo run --example test